*{
    margin: 0;
    padding: 0;
}

.navbar{
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: left;
}

i{
    font-size: 25px;
    text-indent: 20px;
}
